body {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif !important;
}

div.paginateButtons {
	margin: 1.5em 0 1.5em 0;
}

div.paginateButtons a {
	background: #F6A828;
	border: 1px;
	color: #f0f0f0;
	margin: .1em;
	padding: .5em 1em;
	text-decoration: none;
}

div.paginateButtons a:hover {
	background: #1C94C4;
	color: #f0f0f0;
}

.nextLink:after {
	content: ' \00BB';
	font-size: 1.5em;
	font-weight: bold;
}

.prevLink:before {
	content: '\00AB ';
	font-size: 1.5em;
	font-weight: bold;
}

div.paginateButtons .currentStep {
	background: #1C94C4;
	border: 0;
	color: #f0f0f0;
	margin: .1em;
	padding: .5em 1em;
}

th.asc a:after, th.desc a:after {
	float: right;
}

th.asc a:after {
	content: url(../images/skin/sorted_asc.gif);
}
th.desc a:after {
	content: url(../images/skin/sorted_desc.gif);
}

/* LIST */

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.noteTextarea textarea {
	padding: 0;
	resize: none;
	width: 100% !important;
}

.hidden {
	display: none !important;
}

.thumb img {
	border: 1px solid #000;
	cursor: pointer;
}

.uploadcomplete img, .notsaved img, .saved img {
	vertical-align: middle;
}

#document-table {
	margin: 0;
}

.ui-state-success {
	background: #E6EFC2 !important;
	border: 1px solid #A8D676 !important;
	color: #264409 !important;
}

.ui-state-success .ui-icon {
	background-image: url('../images/ui-icons_91cd51_256x240.png') !important;
}

.labeled-button {
	padding-top: .3em !important;
}

.labeled-button .ui-button-text {
	padding: 0 .3em .3em .3em !important;
}

.labeled-button .ui-icon {
	margin: 0 auto 0 auto !important;
	position: static !important;
}
