@import "bootstrap";

#masthead {
	
	background-color: #fff;
	border-bottom: 1px solid darken(#fff, 20%);
	font-size: 0.9em;
	line-height: 2.0em;
	z-index: 100;

	#spinner {
		left: 0;
		position: absolute;
		right: 0;
		top: -50px;
		text-align: center;
		z-index: 99;

		div {
			background-color: #ffee99;
			background-image: url(../css/lib/images/arrows-loading-yellow-16x16.gif);
			background-repeat: no-repeat;
			background-position: 6px center;
			border: 1px solid darken(#ffee99, 35%);
			color: darken(spin(#ffee99, -10), 65%);
			display: inline-block;
			padding: 6px 8px 3px 28px;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			
			.box-shadow(~"inset 0 0 0 1px rgba(255,255,255,0.8), 0 1px 6px rgba(0,0,0,0.3)");
			.border-radius(0 0 3px 3px);
		}
	}

	#header-menu { display: inline; }

	#logged-in-user {
		margin: 0;
		padding: 0 6px 0 0;
		position: relative;
		text-align: right;
		z-index: 100;
	
		p { display: inline; }
	
		ul.navigation {
			display: inline;
			list-style-type: none;
			margin: 0;
			padding: 0;
	
			li {
				display: inline;
				text-transform: lowercase;
	
				&:after { content:" - "; }
				&::after { content:" - "; }
				&:last-of-type:after { content:" "; }
				&:last-of-type::after { content:" "; }
			}
		}
	}

}

#searchForm {
	#gradient > .vertical(@primaryLightGrey, @primaryDarkGrey);

	margin: 0;
	position: relative;

	.box-shadow(~"inset 0 1px 1px rgba(255,255,255,0.8)");

	ul.navigation {
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 10px;

		li {
			//#gradient > .vertical(@primaryLightGrey, @primaryDarkGrey);
			#gradient > .vertical(#ffffff, #e9e9e9);
			
			border: 1px solid #b9b9b9;
			display: inline-block;
			font-weight: bold;
			margin: 0 0 0 -1px;
			min-width: 80px;
			padding: 0;
			position: relative;
			text-align: center;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);

			//.box-shadow(~"0 0 0 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(255, 255, 255, 1.0)");

			a {
				display: inline-block;
				width: 100%;
				padding: 5px 0 5px 0;
				text-decoration: none;

				.transition(background-color 0.3s);

				&:hover {
					#gradient > .vertical(#fffcc1, #fffddc);
				}
			}

			&:first-of-type {
				.border-radius(5px 0 0 5px);
				a { .border-radius(5px 0 0 5px); }
			}

			&:last-of-type {
				.border-radius(0 5px 5px 0);
				a { .border-radius(0 5px 5px 0); }
			}

			//&.navigation_active a {}
		}
	}

	fieldset {
		border: 0 none;
		margin-bottom: 0;

		div {
			border: 1px solid #b9b9b9;
			background-color: @primaryLightGrey;
			padding: 1px 0 1px 2px;

			.box-shadow(~"inset 0 1px 5px rgba(0,0,0,0.4), inset 1px 1px 0 rgba(0,0,0,0.3), inset -1px -1px 0 rgba(0,0,0,0.3)");
			.border-radius;

			.transition(background-color 0.3s);

			&:hover {
				background-color: #fff;
			}

			&.active {
				background-color: #fff;
				.box-shadow(~"inset 0 1px 5px rgba(0,0,0,0.4), inset 1px 1px 0 #4d90fe, inset -1px -1px 0 #4d90fe");
			}

			input[type="text"] {
				@pseudoInputWidth: 140px;

				background: none;
				border: 0 none;
				margin-left: 1px;
				vertical-align: middle;
				width: @pseudoInputWidth;
				-webkit-appearance: none;

				.transition(width 0.3s);

				&:hover, &:focus {
					width: @pseudoInputWidth + 100;
				}
			}

			& > input + button {
				border-right: none;
				margin: 5px -6px 5px 5px;
				padding: 0.5em 0.1em 0.5em 1.0em !important;
				vertical-align: middle;

				.border-radius (5px 0 0 5px);
			}

			#reset1 {
				margin: 5px 10px 5px 0;
				padding: 0.5em 0.1em 0.5em 1.0em !important;
				vertical-align: middle;

				.border-radius (0 5px 5px 0);
			}
		}
	}
}

div.messages {
	border: 1px solid #a0a0a0;
	border-width: 1px 0;
	margin: -1px 0;
	padding: 0;
	
	&.visible {
		margin: 0;
		padding: 5px 6px 2px 6px;
		
		.box-shadow(~"inset 0 0 4px 2px rgba(0,0,0,0.2)");
	}
	
	.ondemand {
		display: none;
	}
}

.ui-dialog {
	border: 1px solid #000;
	background-color: #fff;
	overflow: hidden;
	position: absolute;
	width: 300px;

	.box-shadow(~"0 0 32px rgba(0,0,0,0.6)");

	.ui-dialog-titlebar {
		.subbar;
		padding-bottom: 5px;
		position: relative;

		.ui-dialog-title {}

		.ui-dialog-titlebar-close {
			position: absolute;
			right: 6px;
			text-decoration: none;
			//text-shadow: 0;
			top: 6px;

			&:after {
				content: "X"; 
			}

			.ui-icon {
				display: none;	
			}
		}
	}

	.ui-dialog-content {
		padding: 6px;
	}

	.ui-dialog-buttonset {
		padding: 10px;
		text-align: right;
	}
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-widget-overlay {
	#gradient > .radial(rgba(127,127,127,0.5), rgba(0,0,0,0.7));

	left: 0;
	position: absolute;
	top: 0;
}

.ui-button {
	&.ui-state-disabled {
		background-image: none;
		cursor: default;
		.opacity(35);
	}

	&.ui-state-highlight {
		background: white;
		color: black;
		text-shadow: none;
	}
}

select {
	background-color: white;
	border: 1px solid black;
	outline: none;
}

#search-results {
	.subbar;
}
