@import "base";

#show-actions {
	.subbar;

	#page-container {
		margin-left: 10px;
		position: absolute;
	}
}

#main {
	.arrow {
		line-height: 76px;
		position: fixed;
		top: 45%;

		a {
			display: block;
			margin: 16px 0 0 0;
			padding: 5px;
			text-decoration: none;
		}

		&.left {
			left: 10px;
			a {
				margin-left: 22px;
			}
		}

		&.right {
			right: 10px;
			a {
				margin-left: 36px;
			}
		}
	}

	#canvas {
		padding: 3px;
		overflow: scroll;
		text-align: center;

		img {
			border: 1px black solid;
		}
	}
}

#printer-select {
	p {
		margin-bottom: 0;
		text-align: center;
	}
}
