body {
	overflow: visible;
}

#header {
	font-size: .4em !important;
}

button {
	font-size: .5em !important;
	margin: .1em 0 .1em .1em !important;
	padding: .1em !important;
}

.arrow {
	top: 55%;
}
