#scratch-buttons-container {
	background: white;
	border-bottom: 1px #ddd solid;
	height: auto;
	left: 0;
	position: relative;
	right: 0;
	z-index: 10;
}

#scratch-container {
	bottom: 0;
	display: none;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.flip > #scratch-container {
	display: block;
}

.scratch-box {
	-moz-transform-origin: 0 0;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;
	-ms-transform-origin: 0 0;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;
	-o-transform-origin: 0 0;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;
	-webkit-transform-origin: 0 0;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;

	background-color: white;
	border: 1px solid black;
	display: inline-block;
	height: 150px;
	margin: 20px;
	position: relative;
	top: 100px;
	transform-origin: 0 0;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	width: 200px
}

.scratch-box:hover {
	-moz-transform: scale(2);
	-o-transform: scale(2);
	-webkit-transform: scale(2);
	transform: scale(2);
	z-index: 2;
}

#add-scratch-box {
	color: #ef8c08;
	cursor: pointer;
	font-size: 15em;
	position: relative;
	top: 100px;
	width: 1em;
}

.scratch-box.toggle {
	height: 0;
	font-size: 0;
	visibility: hidden;
	top: 0;
	width: 0;
}

.scratch-box.toggle:hover {
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

#scratch {
	background-color: white;
	border-bottom: 1px solid #444;
}

#scratch-canvas-container {
	border: 1px solid black;
	display: none;
	position: absolute;
	z-index: 3;
}

.scratch-box img {
	height: 100%;
	width: 100%;
}

