.arrow {
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 45%;
	z-index: 10;
}

.arrow a {
	-webkit-tap-highlight-color: 0;
	-webkit-touch-callout: none;
	margin: 0 .25em 0 .3em;
	padding: .8em;
}

#right-arrow {
	right: 10px;
}

#left-arrow {
	left: 10px;
}

.disabled {
	color: #888 !important;
	cursor: default !important;
}

#canvas {
	padding: 3px;
	overflow: scroll;
}

#canvas img {
	border: 1px black solid;
}
