body, html {
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	user-select: none;
	width: 100%;
	z-index: 0;
}

hr {
	margin: 0 !important;
	padding: 0 !important;
}

div#main {
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 500ms ease;
	background: #fff;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

div#can {
	-webkit-user-select: none;
	background: #f0f0f0;
	border: 1px solid #000;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

div#buttonPanel {
	background: #fff;
	height: auto;
	left: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}

.arrow {
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 45%;
	z-index: 10;
}

.arrow a {
	-webkit-tap-highlight-color: 0;
	-webkit-touch-callout: none;
	font-size: 2em;
	margin: 0 .25em 0 .3em;
	padding: 0;
}

#right-arrow {
	right: 10px;
}

#left-arrow {
	left: 10px;
}

.disabled {
	color: #888 !important;
	cursor: default !important;
}

#box {
	cursor: crosshair
}

#page-container {
	border-bottom: 1px #ddd solid
}
