body, html {
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	user-select: none;
	width: 100%;
	z-index: 0;
}

hr {
	margin: 0 !important;
	padding: 0 !important;
}

div#main {
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 500ms ease;
	background: #fff;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

canvas#can {
	-webkit-user-select: none;
	background: #f0f0f0;
	border: 1px solid #444;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

div#buttonPanel {
	background: #fff;
	height: auto;
	left: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}

.arrow {
	margin: 0;
	padding: 0;
	position: fixed;
	text-align: center;
	top: 45%;
	z-index: 10;
}

.arrow a {
	-webkit-tap-highlight-color: 0;
	-webkit-touch-callout: none;
	margin: 0 .25em 0 .3em;
	padding: .8em;
}

#right-arrow {
	right: 10px;
}

#left-arrow {
	left: 10px;
}

.disabled {
	color: #888 !important;
	cursor: default !important;
}

#box {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	cursor: crosshair;
	opacity: .7;
}

#page-container {
	border-bottom: 1px #ddd solid
}

#request-signature {
	background: #fff;
	bottom: 0;
	border-top: 1px black solid;
	height: auto;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.party:nth-child(even) {
	background-color: #E5ECF9;
}

#highlight #sample {
	background-color: transparent;
	border: 1px black solid;
	bottom: 0;
	display: inline-block;
	height: 16px;
	margin-bottom: -4px;
	position: relative;
	width: 16px;
}

#party-container {
	max-height: 15em;
	overflow-y: auto;
}

.party .errors {
	color: red;
}

#slider {
	display: inline-block;
	margin-bottom: auto;
	margin-left: .5em;
	margin-right: .5em;
	margin-top: auto;
	width: 12em;
}

#slider-container {
	position: absolute;
	right: 2em;
	top: 10em;
	z-index: 11;
}

.ui-dialog, .ui-widget-overlay {
	-webkit-tap-highlight-color: 0;
	-webkit-touch-callout: none;
}
